In [4]:
num1 = int(input('첫 번째 정수 입력 >> '))
num2 = int(input('두 번째 정수 입력 >> '))

def number_sub(num1, num2):
    return num1 - num2
# 빼기 기능을 하는 함수 두 인자값을 입력하여 호출
result = number_sub(num1, num2)
print(result)

-10

In [7]:
s = input("문자열 입력 >> ")

def s_replace(s):
    result = ''
    for i in range(len(s)):
        if(s[i] != 'ㅋ'):
            result += s[i]

    return result

result = s_replace(s)
result

'ㄴㄹㅇㄴㅇㄴ'

In [8]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-) >> ")

def cal(num1, num2, op):
    if op == '+':
        return num1 + num2
    else:
        return num1 - num2

result = cal(num1, num2, op)
print("결과 : {}".format(result))

결과 : 8

In [9]:
import pandas as pd

In [10]:
pop = pd.Series([9600000, 3340100, 1480100, 2410100], index = ['서울','부산','광주', '대구'])

In [13]:
pop.name = '인구수'

pop

서울    9600000
부산    3340100
광주    1480100
대구    2410100
Name: 인구수, dtype: int64

In [14]:
def plus_100(x):
    return x + 100

plus_100(5)

105

In [16]:
# apply 함수 사용
# Series의 개별적 요소에 적용

pop.apply(plus_100)

서울    9600100
부산    3340200
광주    1480200
대구    2410200
Name: 인구수, dtype: int64

In [18]:
# 함수에 인수로 pop를 넣어보자
plus_100(pop)

# pop가 함수에 들어가서
# return 값 :

서울    9600100
부산    3340200
광주    1480200
대구    2410200
Name: 인구수, dtype: int64

In [23]:
pop.iloc[0 : 2].apply(plus_100)

서울    9600100
부산    3340200
Name: 인구수, dtype: int64

차이점
1. plus_100(pop) : pop 자체를 함수의 인수로서(입력값) 전달 -> 반환값 : pop + 100
2. pop.apply(plus_100) : 함수가 각각 pop의 요소에 개별적으로 접근
-> 9600000+ 100, 3340000 + 100, ...

In [27]:
def con_return(x):
    if x >= 3000000:
        return x
    else:
        return 0

pop.apply(con_return)

서울    9600000
부산    3340100
광주          0
대구          0
Name: 인구수, dtype: int64

In [28]:
con_return(pop)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [31]:
# lambda x : 익명함수 정의(잠깐 사용 할 함수)

pop.apply(lambda x : x + 200)

서울    9600200
부산    3340300
광주    1480300
대구    2410300
Name: 인구수, dtype: int64

In [33]:
# 숫자에 천 단위 구분 기호 추가
pop.apply(lambda x : f'{x:,}')

# 문자열 포멧팅 f'(x:}' x라는 변수에 특정 포멧팅을 적용시키고 싶을때 적용

서울    9,600,000
부산    3,340,100
광주    1,480,100
대구    2,410,100
Name: 인구수, dtype: object

In [34]:
# 레이블링
pop.apply(lambda x: '대도시' if x > 3000000 else '중소도시')

서울     대도시
부산     대도시
광주    중소도시
대구    중소도시
Name: 인구수, dtype: object

In [35]:
# 제곱
pop.apply(lambda x: x ** 2)

서울    92160000000000
부산    11156268010000
광주     2190696010000
대구     5808582010000
Name: 인구수, dtype: int64

In [36]:
# 백분율
pop.apply(lambda x: f'{x / 10000:.2f}만 명')

서울    960.00만 명
부산    334.01만 명
광주    148.01만 명
대구    241.01만 명
Name: 인구수, dtype: object

In [39]:
# 로그
import numpy as np
pop.apply(lambda x: np.log10(x))

서울    6.982271
부산    6.523759
광주    6.170291
대구    6.382035
Name: 인구수, dtype: float64

In [40]:
# 순위, 등급
pop.apply(lambda x: '1등급' if x > 5000000 else ('2등급' if x > 3000000 else '3등급'))

서울    1등급
부산    2등급
광주    3등급
대구    3등급
Name: 인구수, dtype: object

In [41]:
# 패딩
pop.apply(lambda x: f'{x:010d}')  # 10자리로 0으로 채움

서울    0009600000
부산    0003340100
광주    0001480100
대구    0002410100
Name: 인구수, dtype: object